*{margin:0;padding:0}

/*网页整个顶部*/
.watch_top{
 width:100%;
}
/*大div的三个小div*/
.watch_top div{
 margin:auto;
 width:1200px;
}
/*最上面的div*/
.t_top{
 height:28px;
 background:#F4F4F4;
}
/*上div的a标签样式*/
.t_top a{
 float:left;
 line-height:28px;
 text-decoration:none;
 color:#999;
 font-size:12px;
 padding:0 10px;
}
.t_top #a1{
 color:#998c59;
 margin-right:537px;
}
.t_top #a2{
 color:red;
}
/*大div的中间div*/
.t_center{
 height:115px;
}
/*大div的中间div内容构造*/
.t_center img,input,button{
 float:left;
 
}
.t_center img{
 display:block;
 margin-top:20px;
}
/*搜索框样式*/
.t_center input{
 width:316px;height:38px;
 padding-left:30px;
 display:block;
 border-radius:5px;
 outline:0;
 margin:35px 0 0 100px;
}
/*搜索按钮样式*/
.t_center button{
 width:76px;height:42px;
 color:#fff;
 background-image:linear-gradient(to right,#da6666 0,#b33636 100%);
 border:0;
 border-radius:3px;
 position:relative;
 top:35px;left:-20px;
}
.t_center .a3{
 width:100px;height:90px;
 margin-left:273px;
}
/*大div的底部div*/
.t_footer{
 height:48px;
}
.t_footer .a4,ul{
 float:left;
 list-style:none;
}
.t_footer ul li{
 float:left;
}
/*底部div中a标签的样式*/
.t_footer a{
 text-decoration:none;
 color:#000;
}
.t_footer .a4{
 background-image:linear-gradient(to right,#da6666 0,#b33636 100%);
 color:#fff;
 display:block;
 width:182px;
 line-height:48px;
 padding:0 10px;
}
/*nav样式*/
.t_footer ul{
 width:650px;height:41px;
 margin-left:20px;
}
.t_footer ul li{
 margin:0 10px;
 line-height:41px;
}
.t_footer ul li a{
 font-size:15px;
}
.t_footer ul li:hover{
 border-bottom:4px solid #b33636;
}


  